@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

Button.main {
  font-size: 20;
  border-radius: 25%;
  height: 70;
  margin-bottom: 50;
  background: lightskyblue;
}

Button.next {
  font-size: 20;
  border-radius: 25%;
  height: 70;
  margin-bottom: 20;
  background: lightskyblue;
}

Button.submit {
  font-size: 15;
  height: 50;
  background: lightskyblue;
}

.img-main {
  width: 150;
  align-items: center;
  margin: 55;
  border-radius: 50%;
}

.img {
  width: 150;
  align-items: center;
  margin: 20;
  border-radius: 50%;
}

.label {
  text-align: center;
  grid-column: 2/3 span 1;
  font-size: 30;
}

Image.home {
  grid-column: 1/3;
  width: 50;
  height: 50;
}

.footer {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 90;
  justify-content: center;
  align-items: center;
}
